<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

<hr>

<h4><b>Exercise 2</b>: Create markdown cell with title of the notebook</h4> 
Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.

<h1>Data Science Tools and Ecosystem</h1>

<hr>

<h4><b>Exercise 3</b>: Create a markdown cell for an introduction</h4> 
Write an introductory sentence about the notebook such as follows: In this notebook, Data Science Tools and Ecosystem are summarized.

<h4>In this notebook, Data Science Tools and Ecosystem are summarized.</h4>

<hr>

<h4><b>Exercise 4</b>: Create a markdown cell to list data science languages</h4> 
Start the cell with an overview line such as: Some of the popular languages that Data Scientists use are: 
<br>
Then create an ordered list (i.e. numbered) listing 3 (or more) commonly used languages for data science.

<b>Some of the popular languages that Data Scientists use are<b>:
<ol>
    <li>
        Python
    </li>
    <li>
        R
    </li>
    <li>
        SQL
    </li>
</ol>

<hr>

<h4><b>Exercise 5</b>: Create a markdown cell to list data science libraries</h4> 
Add an overview line to the cell like: Some of the commonly used libraries used by Data Scientists include: 
<br>
Below this line add an ordered list listing 3 (or more) commonly used libraries in data science.

<b>Some of the commonly used libraries used by Data Scientists include</b>:

<ol>
    <li>
        Pandas
    </li>
    <li>
        Matplotlib
    </li>
    <li>
        NumPy
    </li>
</ol>

<hr>

<h4><b>Exercise 6</b>: Create a markdown cell with a table of Data Science tools</h4> 
Create a single column table in this cell with the first row containing the header Data Science Tools. The subsequent three rows in the table should indicate three development environment open source tools used in data science.

<table>
    <tr>
        <th>
            Data Science Tools
        </th>
    </tr>
    <tr>
        <td>
            Jupyter Notebook
        </td>
    </tr>
    <tr>
        <td>
            Tableau
        </td>
    </tr>
    <tr>
        <td>
            Apache Spark
        </td>
    </tr>
</table>

<hr>

<h4><b>Exercise 7</b>: Create a markdown cell introducing arithmetic expression examples</h4> 
Add a line in this cell with H3 style heading with text like: Below are a few examples of evaluating arithmetic expressions in Python.

<h3>Below are a few examples of evaluating arithmetic expressions in Python.</h3>

<hr>

<h4><b>Exercise 8</b>: Create a code cell to multiply and add numbers</h4> 
In this code cell evaluate the expression (3*4)+5. 
<br>
Insert a comment line before the expression to explain the operation e.g. This a simple arithmetic expression to mutiply then add integers. 
<br>
Then execute the cell to ensure the expression returns the expected output of 17.

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

<hr>

<h4><b>Exercise 9</b>: Create a code cell to convert minutes to hours</h4> 
In this code cell write an expression that converts 200 minutes into hours. 
<br>
Insert a comment line before the expression to explain the operation e.g. This will convert 200 minutes to hours by diving by 60. 
<br>
Run the cell to evaluate the expression.

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<hr>

<h4><b>Exercise 10</b>: Insert a markdown cell to list Objectives</h4> 
Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

<b>Objectives</b>:
<ul>
    <li>
        List data science languages
    </li>
    <li>
        List data science libraries
    </li>
    <li>
        Write simple Python expressions
    </li>
</ul>

<hr>

<h4><b>Exercise 11</b>: Create a markdown cell to indicate the Author's name</h4> 
In this markdown cell markdown cell include the following text Author in H2 style heading. Include your name as regular text below the word Author.

<h2>Author</h2>
Manahil Muhammad

<hr>